# mocap4face
site/src/lib/@0xalter/mocap4face/** linguist-vendored
# unreal generated
plugins/unreal/Plugins/Phiz/Binaries/** linguist-vendored
plugins/unreal/Plugins/Phiz/Intermediate/** linguist-vendored