.DS_Store
node_modules
pnpm-lock.yaml

plugins/unreal/Plugins/Phiz/Binaries/
plugins/unreal/Plugins/Phiz/DerivedDataCache/
plugins/unreal/Plugins/Phiz/Intermediate/
plugins/unreal/Plugins/Phiz/Saved/
plugins/unreal/Plugins/Phiz/Build/