# mocap4face
site/src/lib/@0xalter/mocap4face/** linguist-vendored
# unreal generated
plugins/unreal/Phiz/Binaries/** linguist-vendored
plugins/unreal/Phiz/Intermediate/** linguist-vendored
# unity
plugins/unity/OSC/** linguist-vendored