html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*fonts*/
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Rubik', sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: black
}

a {
  margin-left: 1em;
  margin-right: 1em;
}

button {
  background-color: white;
  border: 3px solid;
  border-radius: 5px;
  border-color: #68d2e8;
  color: #68d2e8;
  padding: 14px 28px;
  margin: 18px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #68d2e8;
  color: white;
}

#title {
  width: 100%;
  text-align: center;
}

#description {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
}

#graphics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#videoElement {
  position: relative;
  width: calc(100vw - 40px);
  height: calc((100vw - 40px) * 0.75);
  border-style: solid;
  border-color: #68d2e8;
  border-width: 5px;
  border-radius: 10px;
  margin: 10px;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#videoContainer {
  position: relative;
}

.icon {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background: white;
  box-shadow: 0px 12px 64px rgb(0 0 0 / 12%);
  padding: 1rem;
  border-radius: 2rem;
}

.icon.disable_webcam .off {
  display: none;
}

.icon:not(.disable_webcam) .on {
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 40px);
  height: calc((100vw - 40px) * 0.75);
  margin: 15px;
}

#rectangle {
  position: absolute;
  width: 6rem;
  height: 6rem;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 128 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96 2.56H107.52C117.417 2.56 125.44 10.5831 125.44 20.48V32H128V20.48C128 9.16921 118.831 0 107.52 0H96V2.56Z' fill='%2368d2e8'/%3E%3Cpath d='M32 2.56V0H20.48C9.16921 0 0 9.16921 0 20.48V32H2.56V20.48C2.56 10.5831 10.5831 2.56 20.48 2.56H32Z' fill='%2368d2e8'/%3E%3Cpath d='M2.56 96H0V107.52C0 118.831 9.16921 128 20.48 128H32V125.44H20.48C10.5831 125.44 2.56 117.417 2.56 107.52V96Z' fill='%2368d2e8'/%3E%3Cpath d='M96 125.44V128H107.52C118.831 128 128 118.831 128 107.52V96H125.44V107.52C125.44 117.417 117.417 125.44 107.52 125.44H96Z' fill='%2368d2e8'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

canvas {
  position: relative;
  width: calc(100vw - 40px);
  height: calc((100vw - 40px) * 0.75);
  border-style: solid;
  border-color: #68d2e8;
  border-width: 5px;
  border-radius: 10px;
}

html {
  font-size: 14px;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  #graphics {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #videoElement {
    width: calc(50vw - 60px);
    height: calc((50vw - 60px) * 0.75);
  }

  #overlay {
    width: calc(50vw - 60px);
    height: calc((50vw - 60px) * 0.75);
  }

  canvas {
    width: calc(50vw - 60px);
    height: calc((50vw - 60px) * 0.75);
    margin: 10px;
  }
}