html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
}


.hidden {
    display: none;
}

.canvas-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.output_canvas,
.three_canvas {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
}