/* Write your global styles here, in PostCSS syntax */
html, body { @apply h-full overflow-hidden; }

@font-face {
	/* Reference name */
	font-family: 'Rubik';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Rubik-VariableFont_wght.ttf');
}					