* {
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#app {
    width: 100%;
    height: 100%;
}

/*fonts*/
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Rubik', sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white
}